doctype html
html
  head
    include css.pug
  body
    div(class = 'header')
      include header.pug
    div(class = 'container')
      each answer in answers
        div 
          div(class = 'author') 
            span(class = 'avatar-span')
              a(href = `https://www.zhihu.com/people/${answer.author.url_token}`)
                img(class = 'avatar-img', src = `${answer.author.avatar_url}`)
            div(class = 'profile')
              div(class = 'author-name') #{answer.author.name}
              div(class = 'author-headline') #{answer.author.headline}
          div(class = 'content') !{answer.content}
          div(class = 'voteup') 
            button(class='voteup-btn', onclick=`answerUpvote(${answer.id})`) <svg class="Zi Zi--TriangleUp VoteButton-TriangleUp" fill="currentColor" viewBox="0 0 24 24" width="10" height="10"><path d="M2 18.242c0-.326.088-.532.237-.896l7.98-13.203C10.572 3.57 11.086 3 12 3c.915 0 1.429.571 1.784 1.143l7.98 13.203c.15.364.236.57.236.896 0 1.386-.875 1.9-1.955 1.9H3.955c-1.08 0-1.955-.517-1.955-1.9z" fill-rule="evenodd"></path></svg> #{answer.voteup_count}
    script
      include js/global.js

